/** Login Configuration for the JAAS Sample Application **/

ShibUserPassAuth {
relationalLogin.DBLogin required debug=true
dbDriver="com.mysql.jdbc.Driver"
userTable="User_"
userColumn="userId"
passColumn="password"
dbURL="jdbc:mysql://osbi-mysql:3306/lportal"
dbUser="root"
dbPassword="mysecretpassword"
hashAlgorithm="SHA1";
};
